Repository KhronosGroup/Vulkan-Samples, pull requests merged in 2024-09, with the labels that each got.

#887 Add sample for dynamic rendering local read
  antora/modules/ROOT/nav.adoc
  framework/api_vulkan_sample.cpp
  framework/api_vulkan_sample.h
  framework/gltf_loader.cpp
  samples/README.adoc
  samples/extensions/README.adoc
  samples/extensions/dynamic_rendering_local_read/CMakeLists.txt
  samples/extensions/dynamic_rendering_local_read/README.adoc
  samples/extensions/dynamic_rendering_local_read/dynamic_rendering_local_read.cpp
  samples/extensions/dynamic_rendering_local_read/dynamic_rendering_local_read.h
  samples/extensions/dynamic_rendering_local_read/images/deferred_setup.png
  samples/extensions/dynamic_rendering_local_read/images/sample.png
  shaders/dynamic_rendering_local_read/composition.frag
  shaders/dynamic_rendering_local_read/composition.vert
  shaders/dynamic_rendering_local_read/scene_opaque.frag
  shaders/dynamic_rendering_local_read/scene_opaque.vert
  shaders/dynamic_rendering_local_read/scene_transparent.frag
  shaders/dynamic_rendering_local_read/scene_transparent.vert
Labels: sample

#1114 Add new sample for VK_EXT_host_image_copy
  antora/modules/ROOT/nav.adoc
  samples/extensions/README.adoc
  samples/extensions/host_image_copy/CMakeLists.txt
  samples/extensions/host_image_copy/README.adoc
  samples/extensions/host_image_copy/host_image_copy.cpp
  samples/extensions/host_image_copy/host_image_copy.h
Labels: sample

#1162 Add missing glm::vec3 color member to HPPVertex struct
  framework/hpp_api_vulkan_sample.h
Labels: urgent

#1148 Fix two more bugs introduced by unifying vkb::core::[HPP]Buffer
  framework/core/acceleration_structure.cpp
  framework/core/acceleration_structure.h
  framework/gltf_loader.cpp
  samples/extensions/ray_queries/ray_queries.cpp
  samples/extensions/ray_tracing_extended/ray_tracing_extended.cpp
Labels: bugfix
