Repository KhronosGroup/Vulkan-Samples, pull requests merged in 2024-04, with the labels that each got.

#902 Add dynamic primitive clipping example
  antora/modules/ROOT/nav.adoc
  samples/CMakeLists.txt
  samples/extensions/README.adoc
  samples/extensions/dynamic_primitive_clipping/CMakeLists.txt
  samples/extensions/dynamic_primitive_clipping/README.adoc
  samples/extensions/dynamic_primitive_clipping/dynamic_primitive_clipping.cpp
  samples/extensions/dynamic_primitive_clipping/dynamic_primitive_clipping.h
  samples/extensions/dynamic_primitive_clipping/screenshot.png
  shaders/dynamic_primitive_clipping/primitive_clipping.frag
  shaders/dynamic_primitive_clipping/primitive_clipping.vert
Labels: sample

#1029 Fix screenshot path for dynamic primitive clipping sample
  samples/extensions/dynamic_primitive_clipping/README.adoc
Labels: documentation

#1023 Don't implicitly enable dedicated memory allocation
  framework/core/allocated.h
  samples/tooling/profiles/profiles.cpp
Labels: framework

#1025 Add pull request template checkbox for batch run
  docs/pull_request_template.md
Labels: documentation
