Repository KhronosGroup/Vulkan-Samples, pull requests merged in 2024-12, with the labels that each got.

#1236 Fix constant data sample readme
  samples/performance/constant_data/README.adoc
Labels: documentation

#1233 Fix documentation links
  samples/api/README.adoc
  samples/extensions/README.adoc
  samples/performance/README.adoc
Labels: documentation

#1193 Unify vkb::allocated::Allocated and vkb::allocated::HPPAllocated into vkb::allocated::Allocated<bindingType>
  framework/CMakeLists.txt
  framework/builder_base.h
  framework/core/allocated.cpp
  framework/core/allocated.h
  framework/core/buffer.h
  framework/core/hpp_allocated.h
  framework/core/hpp_image.h
  framework/core/hpp_image_core.cpp
  framework/core/image.h
  framework/core/image_core.cpp
Labels: framework

#1217 ci: Reduce CI to unblock Github Action minutes
  .github/workflows/build.yml
  .github/workflows/v2.yml
Labels: build, Expedite
